:root {
    --chineselearningextension-background-color: #fff;
    --chineselearningextension-font-color: #000;
    --chineselearningextension-button-background-color: #121212;
    --chineselearningextension-button-font-color: #eee;
    --chineselearningextension-border-color: #3333;
    --chineselearningextension-link-color: #0083ff;
    --chineselearningextension-input-background-color: #fff;
    --chineselearningextension-input-border: 1px solid #333;

}

@media (prefers-color-scheme: dark) {
    :root {
        --chineselearningextension-background-color: #121212;
        --chineselearningextension-font-color: #eeee;
        --chineselearningextension-button-background-color: #eee;
        --chineselearningextension-button-font-color: #121212;
        --chineselearningextension-border-color: #9999;
        --chineselearningextension-link-color: #0ff;
        --chineselearningextension-input-background-color: #2e2e2e;
    }
}

.chineselearningextension-definition-pinyin {
    font-weight: bold;
}

.chineselearningextension-definition-number {
    font-weight: bold;
}

.chineselearningextension-definitions {
    font-size: 16px;
    list-style: none;
    padding: 0;
}

.chineselearningextension-popover {
    inset: auto;
    background-color: var(--chineselearningextension-background-color);
    color: var(--chineselearningextension-font-color);
    width: 400px;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid #333;
    text-align: left;
    position: absolute;
}

.chineselearningextension-popover-header {
    font-size: 22px;
    font-weight: bold;
    margin: 4px;
    padding: 0;
}

.chinese-learning-extension-audio-button {
    height: 30px;
    width: 34px;
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
    background-color: var(--chineselearningextension-button-background-color);
    color: var(--chineselearningextension-button-font-color);
    font-weight: bold;
}

.chineselearningextension-button {
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    background-color: var(--chineselearningextension-background-color);
    color: var(--chineselearningextension-font-color);
    border: 2px solid var(--chineselearningextension-font-color);
    border-radius: 12px;
    padding: 4px 12px;
    cursor: pointer;
    user-select: none;
}

.chineselearningextension-add-card-button {
    border: none;
    font-size: 16px;
    background-color: var(--chineselearningextension-button-background-color);
    color: var(--chineselearningextension-button-font-color);
    border-radius: 8px;
    padding: 2px 8px;
    cursor: pointer;
    user-select: none;
}

.anki-section-header {
    font-size: 14px;
    font-weight: bold;
}

/* TODO stop this */
.float-right {
    float: right;
}

.chineselearningextension-side-panel {
    background-color: var(--chineselearningextension-background-color);
    color: var(--chineselearningextension-font-color);
}

.options-page {
    max-width: 800px;
    margin: 0 auto;
    font-size: 14px;
}

.options-page input[type=text] {
    background-color: var(--chineselearningextension-input-background-color);
    border: var(--chineselearningextension-input-border);
    color: var(--chineselearningextension-font-color);
    font-size: 16px;
}

.chineselearningextension-side-panel-header {
    text-align: center;
}

.chineselearningextension-result-message {
    font-size: 16px;
}

.target-sentence {
    font-size: 20px;
    opacity: 1;
}

.pinyin {
    font-size: 14px;
    opacity: 0.7;
}

.translation {
    font-size: 16px;
    opacity: 0.9;
}

p.target-sentence,
p.pinyin {
    margin: 6px 0
}

p.translation {
    margin: 4px 0 16px 0
}

#tabs {
    margin-bottom: 16px;
    user-select: none;
    border-bottom: 1px solid var(--chineselearningextension-border-color);
}

h2.tab {
    display: inline-block;
    opacity: 0.6;
    font-weight: 400;
    width: 25%;
    text-align: center;
    cursor: pointer;
}

h2.tab.active {
    opacity: 1;
    font-weight: bold;
}

.chineselearningextension-side-panel h3 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#deck-selector {
    margin-top: 16px;
    font-size: 14px;
}

.chineselearningextension-link-list {
    list-style: none;
    margin: 12px 0;
    padding: 0;
    font-size: 16px;
}

.chineselearningextension-link-item {
    margin: 12px 0;
}

.chineselearningextension-emphasized {
    font-weight: bold;
}

.chineselearningextension-external-link {
    color: var(--chineselearningextension-link-color);
    cursor: pointer;
}

.sidepanel-information-message {
    margin: 16px 0;
    text-align: center;
    font-size: 16px;
}

.section-container {
    margin-bottom: 36px;
}

.section-container.centered {
    text-align: center;
}

.example-sentence-list {
    padding: 0 18px;
    font-size: 16px;
}

.example-sentence-item {
    margin-bottom: 24px;
}

.audio-button-container {
    font-size: 18px;
}

.sentence-context {
    font-size: 14px;
    opacity: 0.7;
}

.explanation-list {
    font-size: 14px;
    opacity: 0.9;
}

/* https://loading.io/css/ */
.lds-dual-ring {
    color: var(--chineselearningextension-link-color);
    /* TODO: huh? */
    margin: 0 50%;
}

.lds-dual-ring,
.lds-dual-ring:after {
    box-sizing: border-box;
}

.lds-dual-ring {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 6px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}